Azurecicd/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Azurecicd"
		},
		"AzureBlobStorage1_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "azurecicdaccount-connectionstring"
		},
		"AzureKeyVault_dev_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://Azurecicd-dev.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "jira_child1.csv",
						"container": "adfcicd"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "contents",
						"type": "String"
					},
					{
						"name": "contents_id",
						"type": "String"
					},
					{
						"name": "contents_key",
						"type": "String"
					},
					{
						"name": "contents_hidden",
						"type": "String"
					},
					{
						"name": "contents_typeName",
						"type": "String"
					},
					{
						"name": "contents_typeId",
						"type": "String"
					},
					{
						"name": "contents_summary",
						"type": "String"
					},
					{
						"name": "contents_typeUrl",
						"type": "String"
					},
					{
						"name": "contents_priorityUrl",
						"type": "String"
					},
					{
						"name": "contents_priorityName",
						"type": "String"
					},
					{
						"name": "contents_done",
						"type": "String"
					},
					{
						"name": "contents_assignee",
						"type": "String"
					},
					{
						"name": "contents_assigneeKey",
						"type": "String"
					},
					{
						"name": "contents_assigneeAccountId",
						"type": "String"
					},
					{
						"name": "contents_assigneeName",
						"type": "String"
					},
					{
						"name": "contents_avatarUrl",
						"type": "String"
					},
					{
						"name": "contents_hasCustomUserAvatar",
						"type": "String"
					},
					{
						"name": "contents_flagged",
						"type": "String"
					},
					{
						"name": "contents_epic",
						"type": "String"
					},
					{
						"name": "contents_epicField_id",
						"type": "String"
					},
					{
						"name": "contents_epicField_label",
						"type": "String"
					},
					{
						"name": "contents_epicField_editable",
						"type": "String"
					},
					{
						"name": "contents_epicField_renderer",
						"type": "String"
					},
					{
						"name": "contents_epicField_epicKey",
						"type": "String"
					},
					{
						"name": "contents_epicField_epicColor",
						"type": "String"
					},
					{
						"name": "contents_epicField_text",
						"type": "String"
					},
					{
						"name": "contents_epicField_canRemoveEpic",
						"type": "String"
					},
					{
						"name": "contents_currentEstimateStatistic_statFieldId",
						"type": "String"
					},
					{
						"name": "contents_currentEstimateStatistic_statFieldValue_value",
						"type": "String"
					},
					{
						"name": "contents_estimateStatisticRequired",
						"type": "String"
					},
					{
						"name": "contents_estimateStatistic_statFieldId",
						"type": "String"
					},
					{
						"name": "contents_estimateStatistic_statFieldValue_value",
						"type": "String"
					},
					{
						"name": "contents_trackingStatistic_statFieldId",
						"type": "String"
					},
					{
						"name": "contents_trackingStatistic_statFieldValue_value",
						"type": "String"
					},
					{
						"name": "contents_trackingStatistic_statFieldValue_text",
						"type": "String"
					},
					{
						"name": "contents_statusId",
						"type": "String"
					},
					{
						"name": "contents_statusName",
						"type": "String"
					},
					{
						"name": "contents_statusUrl",
						"type": "String"
					},
					{
						"name": "contents_status_id",
						"type": "String"
					},
					{
						"name": "contents_status_name",
						"type": "String"
					},
					{
						"name": "contents_status_description",
						"type": "String"
					},
					{
						"name": "contents_status_iconUrl",
						"type": "String"
					},
					{
						"name": "contents_status_statusCategory_id",
						"type": "String"
					},
					{
						"name": "contents_status_statusCategory_key",
						"type": "String"
					},
					{
						"name": "contents_status_statusCategory_colorName",
						"type": "String"
					},
					{
						"name": "contents_fixVersions",
						"type": "String"
					},
					{
						"name": "contents_projectId",
						"type": "String"
					},
					{
						"name": "contents_linkedPagesCount_sprint_id",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "output"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault_dev",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('AzureBlobStorage1_properties_typeProperties_connectionString_secretName')]",
						"secretVersion": ""
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_dev_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		}
	]
}